<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Celeb's Pick</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div th:replace="~{common/layout :: sidebar}"></div>

<main class="main-content">
    <header>
        <h1>CELEB'S PICK</h1>
        <a href="/admin/celebs" class="admin-button">관리자 페이지</a>
    </header>
    <div id="fashion-container" class="fashion-grid">
    </div>
</main>

<script src="/js/script.js"></script>
</body>
</html>